*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg{
  background-image: url(img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  filter: blur(0px);
}
.loading{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
  font-size: 4rem;
  opacity: 1;
}